<header id="header">
  <nav class="navbar navbar-expand-lg navbar-header">
    <div class="container-fluid">
      <a class="navbar-brand brandMenu" routerLink="/">
        <img src="assets/imagens/logo-marca-2.png" alt="logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu"><!--justify-content-end-->
        <ul class="nav navbar-nav mb-2 mb-lg-0 navbar-nav-edit">

          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i><!--fas fa-angle-down-->
            <div>
              <a class="nav-link" [routerLink]="['/quemsomos/apresentacao']">Apresentação </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/quemsomos/referencias']">Referências</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i><!--dropdown-toggle-->
            <div>
              <a class="nav-link" [routerLink]="['/constitucional']">Constitucional </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/constitucional/constitucional-estado-sp']">Constitucional Estado SP</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div>
              <a class="nav-link" [routerLink]="['/administrativo']">Administrativo </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/administrativo']">LLICA</a></li>
              <li><a [routerLink]="['/administrativo/administrativo-improbidade']">Improbidade Administrativo</a></li>
              <li><a [routerLink]="['/administrativo/administrativo-servicosPublicos']">Serviços Públicos</a></li>
              <li><a [routerLink]="['/administrativo/administrativo-processo']">Processo Administrativo</a></li>
              <li><a [routerLink]="['/administrativo/administrativo-servidoresPublicos']">Servidores Públicos</a></li>
              <li><a [routerLink]="['/administrativo/administrativo-parceriaPublico']">Parceria Públicos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false" style="display: none;"></i>
            <div>
              <a class="nav-link" [routerLink]="['/tributario']">Tributário </a>
            </div>
            <ul class="dropdown-menu sub-menu" style="display: none;">
              <li><a [routerLink]="['/quemsomos/apresentacao']">COMPROMISSO SUSTENTÁVEL</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">POLITICAS AMBIENTAL E QUALIDADE</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">RECICLAGEM</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">LOGISTICA REVERSA</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">DESENVOLVIMENTO AMBIENTAL</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div>
              <a class="nav-link" [routerLink]="['/penal']">Penal </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/penal']">Código Penal</a></li>
              <li><a [routerLink]="['/penal/processo-penal']">Código Processo Penal</a></li>
              <li><a [routerLink]="['/penal/crimes-hediondos']">Crimes hediondos</a></li>
              <li><a [routerLink]="['/penal/lei-maria-penha']">Lei Maria da Penha</a></li>
              <li><a [routerLink]="['/penal/lei-de-drogas']">Lei De Drogas</a></li>
              <li><a [routerLink]="['/penal/lei-organizacao-criminosa']">Organização Criminosa</a></li>
              <li><a [routerLink]="['/penal/lei-ocultacao-bens']">Ocultação Bens</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div>
              <a class="nav-link" [routerLink]="['/civil']">Civil </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/civil/civil-codigo-processo']">Código Processo Civil</a></li>
              <li><a [routerLink]="['/civil/civil-normas-direito-brasileiro']">LINDB</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" style="display: none;">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div>
              <a class="nav-link" routerLink="/pcp">Trabalho </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/quemsomos/apresentacao']">Processo Civil</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">Trabalho</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" style="display: none;">
            <i class="fas fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div>
              <a class="nav-link" routerLink="/pcp">ÉTICA </a>
            </div>
            <ul class="dropdown-menu sub-menu">
              <li><a [routerLink]="['/quemsomos/apresentacao']">Processo Civil</a></li>
              <li><a [routerLink]="['/quemsomos/apresentacao']">Trabalho</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>