<div class="spinner-container" *ngIf="loading">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<app-search-filter [paragrafos]="paragrafos" (onSearch)="onSearch($event)" (onNavigate)="onNavigate($event)">
</app-search-filter>

<section class="component componentSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Processo Administrativo</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-12">
                <div *ngFor="let paragrafo of paragrafos; let i = index" [attr.id]="'paragrafo-' + i">
                    <p [innerHTML]="highlightWord(paragrafo, termoPesquisa)"></p>
                </div>
            </div>
        </div>
    </div>
</section>