.hero-home{
  position: relative;
}

.hero-image {
    width: 100%;
    height: 800px;
    /* object-fit: cover; */
    padding-top: 60px;
    object-fit: cover;
}

.hero-overlay{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:black;
  text-align:center;
}

// .component-quemsomos {
//     position: relative;
//     .component-quemsomos-body {
//         @media only screen and (max-width: 768px) {
//             margin-top: 90px;
//         }
//         &::before {
//             content: "";
//             background: rgba(0, 0, 0, 0.5);
//             opacity: 0.3;
//             min-width: 100%;
//             min-height: 100%;
//             position: absolute;
//             right: 0;
//             left: 0;
//             margin: auto;
//             border-radius: 5px;
//             filter: blur(5px);
//             z-index: 100;
//         }
//         img {
//             max-height: 550px;
//             object-fit: cover;
//             position: relative;
//         }
//         .sub-div {
//             position: absolute;
//             bottom: 7%;
//             z-index: 101;
//             @media only screen and (max-width: 768px) {
//                 width: 93%;
//             }
//             h1 {
//                 color: white;
//                 font-weight: 700;
//                 font-size: 2.6rem;
//                 line-height: 2.9rem;
//                 letter-spacing: -0.025em;
//                 @media only screen and (max-width: 768px) {
//                     font-size: 1.7rem;
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }

// .sessao-telefonica {
//     background-image: url(../../../assets/imagens/tour-bg.png);
//     background-color: #fbfafa;
//     background-repeat: repeat-x;
//     height: 130px;
//     background-position: center;
//     display: table;
//     position: static;
//     width: 100%;
//     margin-top: 50px;
//     .vertical-center{
//         display: table-cell;
//         vertical-align: middle;
//         width: 100%;
//         .action{
//             h1{
//                 font-family: 'Ubuntu', sans-serif;
//                 color: #404040;
//                 font-weight: 300;
//             }
//             p{
//                 font-family: -webkit-pictograph;
//                 font-size: 18px;
//                 margin-bottom: 0;
//                 font-weight: 300;
//             }
//         }
//     }
// }






// $background-color_1: #004995;


// .highlight {
//     background-color: red !important;
// }

// #carouselExampleIndicators {
//     img {
//         object-fit: cover;
//         object-position: center;
//         min-height: 350px;
//     }
//     .carousel-inner {
//         max-height: 630px;
//     }
// }
// #carouselIndicatorsProjeto {
//     img {
//         object-fit: cover;
//         object-position: center;
//         min-height: 350px;
//     }
//     .imgSocial2 {
//         margin-top: 0 !important;
//         margin-top: -210px;
//     }
//     .imgSocial3 {
//         margin-top: 0 !important;
//         margin-top: -90px;
//     }
//     .carousel-inner {
//         max-height: 630px;
//     }
// }
// .action {
//     height: 255px;
//     // background-image: url(../../assets/imagens/tour-bg.png);
//     background-color: #fbfafa;
//     background-repeat: repeat;
//     height: 157px;
//     background-position: center;
//     display: table;
//     position: static;
//     width: 100%;
//     padding-top: 40px;
//     span{
//         color: #00aeef;
//         // font-weight: 700;
//         font-size: 2.7rem;
//         line-height: 2.6rem;
//         letter-spacing: -0.025em;
//     }
//     h3{
//         margin-top: 5px;
//         font-size: 18px;
//     }
// }
// .carosousel-home {
//     img{
//         min-height: 550px !important;
//         object-fit: cover;
//         object-position: center;
//     }
//     .carousel-inner {
//         max-height: 580px;
//     }
// }
// .carousel-indicators {
//     button {
//         width: 15px !important;
//         height: 15px !important;
//         border-radius: 50%;
//     }
//     .active {
//         background-color: $background-color_1;
//     }
// }
// .carousel-control-prev-icon {
//     background-color: $background-color_1;
//     border-radius: 15px;
//     background-size: 70%;
//     background-position: 45%;
// }
// .carousel-control-next-icon {
//     background-color: $background-color_1;
//     border-radius: 15px;
//     background-size: 70%;
//     background-position: 45%;
// }
// // .variacao-desktop {
// //     display: block;
// //     .img-apresentacao {
// //         margin-top: -180px;
// //     }
// // }

// // .variacao-mobile {
// //     display: none;
// // }

// /*VERAO DESK SEM MEDIAQUERY*/
// .carosousel-home .carousel-inner {
//     max-height: 580px;
// }

// .carousel-indicators button {
//     width: 15px !important;
//     height: 15px !important;
//     border-radius: 50%;
// }

// .carousel-indicators .active {
//     background-color: #004995; /*#e3f2fd*/
// }

// .carousel-control-prev-icon {
//     background-color: #004995;
//     border-radius: 15px;
//     background-size: 70%;
//     background-position: 45%;
// }

// .carousel-control-next-icon {
//     background-color: #004995;
//     border-radius: 15px;
//     background-size: 70%;
//     background-position: 45%;
// }

// // .variacao-desktop {
// //     display: block;

// //     .img-apresentacao {
// //         margin-top: -180px;
// //     }
// // }

// // .variacao-mobile {
// //     display: none;
// // }

// @media only screen and (max-width: 768px) {
//     .carosousel-home img {
//         min-height: 300px !important;
//         max-height: 300px;
//         object-fit: cover;
//         object-position: bottom;
//     }

//     // .variacao-mobile {
//     //     display: block !important;
//     // }

//     // .variacao-desktop {
//     //     display: none !important;
//     // }
// }


// .componentSection {
//     padding-top: 150px;
//     h3 {
//         font-family: sans-serif;
//         opacity: 0.8;
//         color: #00aeef;
//         font-weight: 700;
//         font-size: 22px;
//         line-height: 2.6rem;
//         letter-spacing: -0.025em;
//         margin-top: 5px;
//     }
// }
