<section class="component-quemsomos">
    <div class="component-quemsomos-body">
        <div class="container-fluid">
            <div class="sub-div">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Compilado Direito <br>Por você fazemos tudo acontecer</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-component">
            <img src="../../../assets/imagens/apresentacao/compiladoDireito.jpg" class="d-block w-100">
        </div>
    </div>
</section>

<section class="sessao-telefonica">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1>Desde 2014 operando por você!</h1>
                        <!--<p>uma empresa do </p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="component">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Propósito</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <p>Na busca pelo ponto crucial, desenvolvemos uma plataforma inteligente que nos permite acessar diretamente o que procuramos. Seja para auxiliar em processos jurídicos, realizar estudos sobre leis ou explorar os diversos campos do mundo do direito, nosso objetivo é simplificar e agilizar a jornada do usuário.</p>
                <p>O direito desempenha um papel fundamental em nossa sociedade, moldando as interações humanas, estabelecendo padrões éticos e regulando o funcionamento das instituições. Por meio do acesso rápido e eficiente à informação jurídica, nosso site visa capacitar indivíduos e profissionais do direito a tomarem decisões informadas e fundamentadas.</p>
                <p>Acreditamos que o conhecimento do direito é essencial para o empoderamento individual e coletivo, promovendo a justiça, a equidade e o respeito aos direitos humanos. Ao proporcionar uma ferramenta que simplifica a busca por informações jurídicas relevantes, contribuímos para uma sociedade mais justa e bem informada.</p>
            </div>
        </div>
    </div>
</section>


<section class="component">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Apresentação</h1><br>
                <p>Em nosso site, oferecemos uma ferramenta poderosa de pesquisa jurídica desenvolvida para proporcionar
                    uma experiência mais eficiente aos nossos usuários. Utilizando técnicas avançadas de pesquisa,
                    coletamos informações diretamente do site do governo, oferecendo aos usuários acesso rápido e fácil
                    às leis e artigos que desejam. Nosso recurso de busca intuitiva permite que os usuários encontrem
                    exatamente o que procuram, economizando tempo e eliminando a necessidade de navegar por longas
                    listas de conteúdo. No Criador do Site, estamos comprometidos em tornar a pesquisa jurídica rápida,
                    simples e eficaz para todos os nossos usuários.</p>
            </div>
        </div>
    </div>
</section>


<section class="component mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Missão e Valores</h1><br>
                <p>Nossa missão é proporcionar aos nossos clientes o mais alto nível de qualidade e
                    eficiência em todos os aspectos de nossos serviços. Buscamos constantemente a inovação, empregando
                    as melhores tecnologias e práticas para garantir a satisfação de nossos clientes. Comprometemo-nos a
                    entregar as cargas de nossos clientes dentro dos prazos mais curtos, mantendo os mais altos padrões
                    de qualidade e integridade. Valorizamos o espírito de equipe, a flexibilidade e a integridade como
                    pilares fundamentais de nossa empresa, sempre buscando aprimoramento contínuo em nossas operações.
                </p>
            </div>
        </div>
    </div>
</section>