<section class="hero-home">
  <div class="container-fluid p-0">

    <img 
      src="/assets/imagens/home/Home_4.png" 
      class="hero-image"
      alt="Apresentação">

    <div class="hero-overlay">
      <h1>Bem-vindo ao Compilado de Leis</h1>
      <p>Gerencie seus processos com eficiência</p>
    </div>

  </div>
</section>


<!--  Carrossel-->
<!-- <section class="component-primary">
    <div id="carouselIndicators" class="carousel slide carosousel-home" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="variacao-desktop">
                    <img src="/assets/imagens/home/Home_3.png" class="d-block w-100 img-apresentacao">
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/home/Home_4.png" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/home/Home_5.jpeg" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> -->

<!-- Seção sobre as vertentes do Direito -->
<section class="component">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Áreas de Atuação</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Direito Constitucional</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Constitucional trata das normas que regem a organização e funcionamento do Estado, bem como os direitos e deveres dos cidadãos perante a Constituição. Abrange temas como direitos fundamentais, organização dos poderes, federalismo e controle de constitucionalidade.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Administrativo</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Administrativo regula a atuação da Administração Pública, estabelecendo os princípios e normas que orientam a sua organização, atividades e relação com os cidadãos. Abrange temas como licitações, contratos administrativos, atos administrativos, serviços públicos e responsabilidade do Estado.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Tributário</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Tributário trata das normas que regem a instituição, arrecadação e fiscalização dos tributos. Abrange temas como impostos, taxas, contribuições de melhoria, princípios tributários, processos administrativos e judiciais tributários.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Penal</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Penal regula as condutas consideradas criminosas pela sociedade, estabelecendo as penas e medidas de segurança aplicáveis aos infratores. Abrange temas como crimes contra a vida, contra o patrimônio, contra a honra, penas e regimes de cumprimento de pena.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Civil</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Civil trata das relações jurídicas entre pessoas físicas e jurídicas, regulando direitos e obrigações relacionados a bens, contratos, família, sucessões, responsabilidade civil, entre outros. É uma das áreas mais abrangentes do Direito.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito do Trabalho</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito do Trabalho regula as relações entre empregadores e empregados, estabelecendo normas para garantir os direitos trabalhistas e as condições dignas de trabalho. Abrange temas como contratos de trabalho, salário, jornada de trabalho, férias, entre outros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Ética Jurídica</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>A Ética Jurídica é uma área do Direito que estuda os princípios morais e éticos que devem guiar a conduta dos profissionais do Direito. Envolve questões como o sigilo profissional, o dever de honestidade, a imparcialidade e a responsabilidade social dos advogados e demais agentes jurídicos.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção sobre as vertentes do Direito -->

<!-- Seção sobre o Direito -->
<section class="component mb-5" id="about-law">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Sobre o Direito</h1>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito é um pilar fundamental de qualquer sociedade civilizada, pois estabelece as regras que guiam as interações entre os indivíduos, as organizações e o Estado. Essas normas, baseadas em princípios de justiça e equidade, têm o objetivo de garantir a ordem, a segurança e a harmonia social.</p>
                <p>Além de promover a paz e a estabilidade, o Direito desempenha um papel crucial na proteção dos direitos e liberdades individuais. Ele define os limites do poder estatal, impedindo abusos e garantindo que todos sejam tratados com igualdade perante a lei.</p>
                <p>Outro aspecto fundamental do Direito é sua capacidade de resolver conflitos de forma pacífica e justa. Através de mecanismos como o sistema judiciário, as partes envolvidas em disputas podem buscar uma solução legal e imparcial para seus problemas, evitando assim conflitos violentos e vinganças pessoais.</p>
                <p>Além disso, o Direito desempenha um papel essencial na promoção do desenvolvimento econômico e social. Ao estabelecer um ambiente jurídico previsível e estável, ele estimula o investimento, o empreendedorismo e a inovação, criando condições para o crescimento sustentável e a prosperidade coletiva.</p>
                <p>Em resumo, o Direito é uma ferramenta fundamental para a construção de uma sociedade justa, democrática e civilizada. Ele protege os direitos individuais, garante a igualdade perante a lei e promove a paz e o desenvolvimento. É por isso que seu estudo e aplicação são tão importantes para o bem-estar e progresso de uma nação.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção sobre o Direito -->


<section class="component-quemsomos">
    <div class="component-quemsomos-body">
        <div class="container-fluid">
            <div class="sub-div">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Compilado Direito <br>Por você fazemos tudo acontecer</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-component">
            <img src="../../../assets/imagens/apresentacao/compiladoDireito.jpg" class="d-block w-100">
        </div>
    </div>
</section>

<section class="sessao-telefonica">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1>Desde 2014 operando por você!</h1>
                        <!--<p>uma empresa do </p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="component">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Propósito</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-12">
                <p>Na busca pelo ponto crucial, desenvolvemos uma plataforma inteligente que nos permite acessar diretamente o que procuramos. Seja para auxiliar em processos jurídicos, realizar estudos sobre leis ou explorar os diversos campos do mundo do direito, nosso objetivo é simplificar e agilizar a jornada do usuário.</p>
                <p>O direito desempenha um papel fundamental em nossa sociedade, moldando as interações humanas, estabelecendo padrões éticos e regulando o funcionamento das instituições. Por meio do acesso rápido e eficiente à informação jurídica, nosso site visa capacitar indivíduos e profissionais do direito a tomarem decisões informadas e fundamentadas.</p>
                <p>Acreditamos que o conhecimento do direito é essencial para o empoderamento individual e coletivo, promovendo a justiça, a equidade e o respeito aos direitos humanos. Ao proporcionar uma ferramenta que simplifica a busca por informações jurídicas relevantes, contribuímos para uma sociedade mais justa e bem informada.</p>
            </div>
        </div>
    </div>
</section>


<section class="component">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Apresentação</h1><br>
                <p>Em nosso site, oferecemos uma ferramenta poderosa de pesquisa jurídica desenvolvida para proporcionar
                    uma experiência mais eficiente aos nossos usuários. Utilizando técnicas avançadas de pesquisa,
                    coletamos informações diretamente do site do governo, oferecendo aos usuários acesso rápido e fácil
                    às leis e artigos que desejam. Nosso recurso de busca intuitiva permite que os usuários encontrem
                    exatamente o que procuram, economizando tempo e eliminando a necessidade de navegar por longas
                    listas de conteúdo. No Criador do Site, estamos comprometidos em tornar a pesquisa jurídica rápida,
                    simples e eficaz para todos os nossos usuários.</p>
            </div>
        </div>
    </div>
</section>


<section class="component mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Missão e Valores</h1><br>
                <p>Nossa missão é proporcionar aos nossos clientes o mais alto nível de qualidade e
                    eficiência em todos os aspectos de nossos serviços. Buscamos constantemente a inovação, empregando
                    as melhores tecnologias e práticas para garantir a satisfação de nossos clientes. Comprometemo-nos a
                    entregar as cargas de nossos clientes dentro dos prazos mais curtos, mantendo os mais altos padrões
                    de qualidade e integridade. Valorizamos o espírito de equipe, a flexibilidade e a integridade como
                    pilares fundamentais de nossa empresa, sempre buscando aprimoramento contínuo em nossas operações.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="component componentSection">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Referências</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h3>Constituição Federal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Constitucional Estado SP</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.al.sp.gov.br/repositorio/legislacao/constituicao/1989/compilacao-constituicao-0-05.10.1989.html</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Civil</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código de Processo Civil</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13105.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de Introdução as Normas do direito brasileiro</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del4657compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de licitações e contratos administrativos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2021/lei/l14133.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Improbidade administrativa</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8429.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Serviços Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8987compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Processo Administrativo</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l9784.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Servidores Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8112compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Parceria Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l11079.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Tributário Nacional</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l5172compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Penal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Processo Penal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del3689.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Crimes hediondos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/L8072compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei Maria da Penha</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de Drogas</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11343.htm#</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei da Organização Criminosa</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2013/lei/l12850.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de Ocultação de Bens</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l9613.htm</p>
            </div>
        </div>        
    </div>
</section>