<section class="component componentSection">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Referências</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h3>Constituição Federal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Constitucional Estado SP</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.al.sp.gov.br/repositorio/legislacao/constituicao/1989/compilacao-constituicao-0-05.10.1989.html</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Civil</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código de Processo Civil</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13105.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de Introdução as Normas do direito brasileiro</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del4657compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei de licitações e contratos administrativos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2021/lei/l14133.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Improbidade administrativa</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8429.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Serviços Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8987compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Processo Administrativo</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l9784.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Servidores Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l8987compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Parceria Públicos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2004/lei/l11079.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Tributário Nacional</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/l5172compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Penal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Código Processo Penal</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/decreto-lei/del3689.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Crimes hediondos</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/leis/L8072compilada.htm</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Lei Maria da Penha</h3>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm</p>
            </div>
        </div>
        
    </div>
</section>