.componentSection {
    padding-top: 150px;
    h3 {
        font-family: sans-serif;
        opacity: 0.8;
        color: #00aeef;
        font-weight: 700;
        font-size: 22px;
        line-height: 2.6rem;
        letter-spacing: -0.025em;
        margin-top: 5px;
    }
}
