<!--  Carrossel-->
<section class="component-primary">
    <div id="carouselIndicators" class="carousel slide carosousel-home" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="variacao-desktop">
                    <img src="/assets/imagens/home/Home_3.png" class="d-block w-100 img-apresentacao">
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/home/Home_4.png" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/assets/imagens/home/Home_5.jpeg" class="d-block w-100">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Seção sobre as vertentes do Direito -->
<section class="component">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Áreas de Atuação</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Direito Constitucional</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Constitucional trata das normas que regem a organização e funcionamento do Estado, bem como os direitos e deveres dos cidadãos perante a Constituição. Abrange temas como direitos fundamentais, organização dos poderes, federalismo e controle de constitucionalidade.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Administrativo</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Administrativo regula a atuação da Administração Pública, estabelecendo os princípios e normas que orientam a sua organização, atividades e relação com os cidadãos. Abrange temas como licitações, contratos administrativos, atos administrativos, serviços públicos e responsabilidade do Estado.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Tributário</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Tributário trata das normas que regem a instituição, arrecadação e fiscalização dos tributos. Abrange temas como impostos, taxas, contribuições de melhoria, princípios tributários, processos administrativos e judiciais tributários.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Penal</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Penal regula as condutas consideradas criminosas pela sociedade, estabelecendo as penas e medidas de segurança aplicáveis aos infratores. Abrange temas como crimes contra a vida, contra o patrimônio, contra a honra, penas e regimes de cumprimento de pena.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito Civil</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito Civil trata das relações jurídicas entre pessoas físicas e jurídicas, regulando direitos e obrigações relacionados a bens, contratos, família, sucessões, responsabilidade civil, entre outros. É uma das áreas mais abrangentes do Direito.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Direito do Trabalho</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito do Trabalho regula as relações entre empregadores e empregados, estabelecendo normas para garantir os direitos trabalhistas e as condições dignas de trabalho. Abrange temas como contratos de trabalho, salário, jornada de trabalho, férias, entre outros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">Ética Jurídica</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>A Ética Jurídica é uma área do Direito que estuda os princípios morais e éticos que devem guiar a conduta dos profissionais do Direito. Envolve questões como o sigilo profissional, o dever de honestidade, a imparcialidade e a responsabilidade social dos advogados e demais agentes jurídicos.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção sobre as vertentes do Direito -->

<!-- Seção sobre o Direito -->
<section class="component mb-5" id="about-law">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Sobre o Direito</h1>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>O Direito é um pilar fundamental de qualquer sociedade civilizada, pois estabelece as regras que guiam as interações entre os indivíduos, as organizações e o Estado. Essas normas, baseadas em princípios de justiça e equidade, têm o objetivo de garantir a ordem, a segurança e a harmonia social.</p>
                <p>Além de promover a paz e a estabilidade, o Direito desempenha um papel crucial na proteção dos direitos e liberdades individuais. Ele define os limites do poder estatal, impedindo abusos e garantindo que todos sejam tratados com igualdade perante a lei.</p>
                <p>Outro aspecto fundamental do Direito é sua capacidade de resolver conflitos de forma pacífica e justa. Através de mecanismos como o sistema judiciário, as partes envolvidas em disputas podem buscar uma solução legal e imparcial para seus problemas, evitando assim conflitos violentos e vinganças pessoais.</p>
                <p>Além disso, o Direito desempenha um papel essencial na promoção do desenvolvimento econômico e social. Ao estabelecer um ambiente jurídico previsível e estável, ele estimula o investimento, o empreendedorismo e a inovação, criando condições para o crescimento sustentável e a prosperidade coletiva.</p>
                <p>Em resumo, o Direito é uma ferramenta fundamental para a construção de uma sociedade justa, democrática e civilizada. Ele protege os direitos individuais, garante a igualdade perante a lei e promove a paz e o desenvolvimento. É por isso que seu estudo e aplicação são tão importantes para o bem-estar e progresso de uma nação.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fim da Seção sobre o Direito -->


<!--Component transporte-->
<!-- <section class="component">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>O que transportamos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>B2B (Empresa para Empresa)</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>Temos total experiência nas rotinas de transferências de materiais até os HUBs ou EPS que irão
                    executar a entrega final. Sendo nossos principais clientes neste segmento VIVO, FI BRASIL e
                    Natura.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-body-subtitulo">B2C (Empresa para pessoa física)</h2>
            </div>
        </div>
        <div class="component-body component-body-top">
            <div class="row">
                <p>Nossa experiência em Entrega ao cliente final já leva mais de 15 anos focados e aprimorados na
                    excelência dos processos de entrega ao cliente. Sendo nosso prinpais cientes neste segmento VIVO
                    e Natura.</p>
            </div>
        </div>
    </div>
</section> -->
<!--Componente transporte-->

<!--componente servicos-->
<!-- <section class="component" id="services">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Nossos serviços</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <div class="card mb-4 rounded-3 ">
                    <div class="card-header py-3">
                        <div class="single-service">
                            <i class="fa fa-truck"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="component-body-top">Transporte e distribuição</h2>
                        <p>Entrega porta a porta em todo o território nacional, com o uso intensivo em tecnologia
                            garantimos informação e visibilidade a todo o momento sobre as mercadorias
                            transportadas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <div class="card mb-2 rounded-3">
                    <div class="card-header py-3">
                        <div class="single-service">
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="component-body-top">Armazenagem e Movimentação</h2>
                        <p>A Tgestiona Logística conta com centros de distribuição posicionados em pontos
                            estratégicos,
                            próximos as regiões de consumo mais importantes do Brasil.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6  text-center">
                <div class="card mb-4 rounded-3">
                    <div class="card-header py-3">
                        <div class="single-service">
                            <i class="fa fa-recycle"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="component-body-top">Logística Reversa e Triagem</h2>
                        <p>A Tgestiona atua com a operação de reversa desde 2006 e a correta destinação para
                            produtos
                            descartados pode trazer maior rentabilidade e ainda melhorar os indicadores de
                            sustentabilidade de sua empresa.
                        </p>
                    </div>
                </div>
            </div>
             <div class="col-sm-4 text-center padding">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/icon1.png" alt="">
                        </div>
                        <h2 class="component-body-top">Transporte e distribuição</h2>
                        <p>Entrega porta a porta em todo o território nacional, com o uso intensivo em tecnologia
                            garantimos informação e visibilidade a todo o momento sobre as mercadorias transportadas.
                        </p>
                    </div>
                </div> -->
            <!-- <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="images/home/icon2.png" alt="">
                        </div>
                        <h2 class="component-body-top">Armazenagem e Movimentação</h2>
                        <p>A Tgestiona Logística conta com centros de distribuição posicionados em pontos estratégicos,
                            próximos as regiões de consumo mais importantes do Brasil.</p>
                    </div>
                </div> -->
            <!-- <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="images/home/icon3.png" alt="">
                        </div>
                        <h2 class="component-body-top">Logística Reversa e Triagem</h2>
                        <p>A Tgestiona atua com a operação de reversa desde 2006 e a correta destinação para produtos
                            descartados pode trazer maior rentabilidade e ainda melhorar os indicadores de
                            sustentabilidade de sua empresa.</p>
                    </div>
                </div>
        </div>
    </div>
</section> -->
<!--/services-->

<!--componente certificacoes-->
<!-- <section class="component" id="certificacoes">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Certificações</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <p class="certificacao">Certificações ISO 9001, ISO14001 e Autorização de Funcionamento (AFE)
                    Transportes de Cosméticos e Perfumaria</p>
                <p>
                    Qualidade é feita sempre buscando no dia a dia realizar as nossas atividades com excelência, o
                    que leva os processos funcionarem de forma mais segura e bem coordenada, educando nossas
                    equipes, treinando e mantendo uma boa motivação!
                    Respeitando, protegendo e preservando o meio ambiente através de ações e foco na
                    sustentabilidade dos negócios da organização!</p>

                <img src="../../assets/imagens/iso9001.png" width="90" height="100">
                <img src="../../assets/imagens/iso14001.png" width="90" height="90" style="opacity: 0.85;">
                <img src="../../assets/imagens/Logo_BRTUV-removebg-preview.png" width="100" height="100">
                <img src="../../assets/imagens/iqnet.png" width="90" height="100">
                <img src="../../assets/imagens/cetesb.png" height="80">
                <img src="../../assets/imagens/Anvisa.png" height="100">

            </div>
        </div>
    </div>
</section> -->
<!--/certificacoes-->

<!--component numeros-->
<!-- <section class="component">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h1>Nossos número</h1>
            </div>
        </div>
    </div>
    <div class="action">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <span>110884</span>
                    <h3>Entregas Mês</h3>
                </div>
                <div class="col text-center">
                    <span>27405</span>
                    <h3>Coletas Mês</h3>
                </div>
                <div class="col text-center">
                    <span>81300</span>
                    <h3>Triagens Mês</h3>
                </div>
                <div class="col text-center">
                    <span>4</span>
                    <h3>Centros de Distribuição</h3>
                </div>
            </div>
        </div>
    </div>

</section> -->
<!--component numeros-->