<!-- <footer id="new_footer" class="new_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <p>Quem somos</p>
                    <li><a href="paginas/Quem_somos.html">APRESENTAÇÃO</a></li>
                    <li><a href="paginas/CertificadosLicencas.html">CERTIFICADOS E LICENÇAS</a></li>
                    <li><a href="paginas/PlataformaTecnologia.html">PLATAFORMA TECNOLOGIA</a></li>
                    <li><a href="paginas/PremiosReconhecimento.html">PRÊMIOS E RECONHECIMENTOS</a></li>
                    <li><a href="paginas/NossasUnidades.html">NOSSAS UNIDADES</a></li>
                    <li><a href="paginas/LGPD.html">LGPD</a></li>
                    <li><a href="paginas/PoliticaPrivacidade.html">POLÍTICA DE PRIVACIDADE</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <p>Nosso serviços</p>
                    <li><a href="paginas/Armazenagem.html">ARMAZENAGEM</a></li>
                    <li><a href="paginas/Refurbishment.html">REFURBISHMENT</a></li>
                    <li><a href="paginas/GestaoTransporte.html">GESTÃO DE TRANSPORTE</a></li>
                    <li><a href="paginas/Inventario.html">INVENTÁRIO</a></li>
                    <li><a href="paginas/InspecaoMateriais.html">INSPEÇÃO DE MATERIAIS</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <p>Sustentabilidade</p>
                    <li><a href="paginas/CompromissoSustentavel.html">COMPROMISSO SUSTENTÁVEL</a></li>
                    <li><a href="paginas/PoliticasAmbientaleQualidade.html">POLITICAS AMBIENTAL E QUALIDADE</a></li>
                    <li><a href="paginas/Reciclagem.html">RECICLAGEM</a></li>
                    <li><a href="paginas/LogisiticaReversa.html">LOGISTICA REVERSA</a></li>
                    <li><a href="paginas/DesenvolvimentoAmbiental.html">DESENVOLVIMENTO AMBIENTAL</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <p>Ações Sociais</p>
                    <li><a href="paginas/AcaoSocial2021.html">Ação Social</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <p>Contato</p>
                    <li><a href="paginas/Faleconosco.html">FALE CONOSCO</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                <ul>
                    <p>Trabalhe conosco</p>
                    <li><a href="paginas/CadastrarCurriculo.html">CADASTRE SEU CURRÍCULO</a></li>
                    <li><a href="paginas/VagasDisponiveis.html">VAGAS DISPONÍVEIS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3>© Copyright TGestiona Transportes e Logística 2001-2020</h3>
                </div>
            </div>
        </div>
    </div>
</footer> -->


<footer class="Footer" style="display: none;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="row" id="">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 mb-3"><!--offset-lg-1 -->
                            <ul>
                                <p>Quem somos</p>
                                <li><a href="paginas/Quem_somos.html">APRESENTAÇÃO</a></li>
                                <li><a href="paginas/CertificadosLicencas.html">CERTIFICADOS E LICENÇAS</a></li>
                                <li><a href="paginas/PlataformaTecnologia.html">PLATAFORMA TECNOLOGIA</a></li>
                                <li><a href="paginas/PremiosReconhecimento.html">PRÊMIOS E RECONHECIMENTOS</a></li>
                                <li><a href="paginas/NossasUnidades.html">NOSSAS UNIDADES</a></li>
                                <li><a href="paginas/LGPD.html">LGPD</a></li>
                                <li><a href="paginas/PoliticaPrivacidade.html">POLÍTICA DE PRIVACIDADE</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 mb-3">
                            <ul>
                                <p>Nossos serviços</p>
                                <li><a href="paginas/Armazenagem.html">ARMAZENAGEM</a></li>
                                <li><a href="paginas/Refurbishment.html">REFURBISHMENT</a></li>
                                <li><a href="paginas/GestaoTransporte.html">GESTÃO DE TRANSPORTE</a></li>
                                <li><a href="paginas/Inventario.html">INVENTÁRIO</a></li>
                                <li><a href="paginas/InspecaoMateriais.html">INSPEÇÃO DE MATERIAIS</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 mb-3">
                            <ul>
                                <p>Sustentabilidade</p>
                                <li><a href="paginas/CompromissoSustentavel.html">COMPROMISSO SUSTENTÁVEL</a></li>
                                <li><a href="paginas/PoliticasAmbientaleQualidade.html">POLITICAS AMBIENTAL E QUALIDADE</a>
                                </li>
                                <li><a href="paginas/Reciclagem.html">RECICLAGEM</a></li>
                                <li><a href="paginas/LogisiticaReversa.html">LOGISTICA REVERSA</a></li>
                                <li><a href="paginas/DesenvolvimentoAmbiental.html">DESENVOLVIMENTO AMBIENTAL</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 mb-3">
                            <ul>
                                <p>Ações Sociais</p>
                                <li><a href="paginas/AcaoSocial2021.html">Ação Social</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 mb-3">
                            <ul>
                                <p>Contato</p>
                                <li><a href="paginas/Faleconosco.html">FALE CONOSCO</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 col-sm-3 mb-3">
                            <ul>
                                <p>Trabalhe conosco</p>
                                <li><a href="paginas/CadastrarCurriculo.html">CADASTRE SEU CURRÍCULO</a></li>
                                <li><a href="paginas/VagasDisponiveis.html">VAGAS DISPONÍVEIS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h3>© Copyright TGestiona Transportes e Logística 2001-2020</h3>
                </div>
            </div>
        </div>
    </div>
</footer>