<footer class="Footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h3>©Copyright Compilado De Leis 2024</h3>
            </div>
            <div class="col-sm-6 text-sm-end">
                <a href="https://www.instagram.com/compiladodeleis_/" target="_blank" class="li-instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
